episode: 31
title: random code you're going to delete anyway
subtitle: aws sf summit announcements
date: 05-04-2017 12:37pm
duration: 54:41
length: 39754847

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
- [Lex GA / mobile hub / bot builder](https://aws.amazon.com/blogs/aws/amazon-lex-now-generally-available/)
    - [chatbot challenge](https://aws.amazon.com/events/chatbot-challenge/)
- [amazon DAX](https://aws.amazon.com/blogs/aws/amazon-dynamodb-accelerator-dax-in-memory-caching-for-read-intensive-workloads/)
- [amazon rekognition image moderation](https://aws.amazon.com/blogs/aws/amazon-rekognition-update-image-moderation/)
    - [CSPAN 99k polications, savings](https://aws.amazon.com/solutions/case-studies/cspan/)
- [f8 opening up snapchat like filters](https://developers.facebook.com/blog/post/2017/04/18/Introducing-Camera-Effects-Platform/)
- [aws codestar](https://aws.amazon.com/blogs/aws/new-aws-codestar/)
- [aurora pgsql support](https://aws.amazon.com/blogs/aws/sign-up-today-preview-of-amazon-aurora-with-postgresql-compatibility/)
- [f1 (fpga) instances launched](https://aws.amazon.com/blogs/aws/ec2-f1-instances-with-fpgas-now-generally-available/)
- [xray rollout](https://aws.amazon.com/blogs/aws/aws-x-ray-update-general-availability-including-lambda-integration/)
- [polly speech marks, whispering](https://aws.amazon.com/blogs/aws/new-amazon-polly-speech-marks/)
- [aws marketplace aas contracts](https://aws.amazon.com/marketplace/saas)
- [redshift spectrum](https://aws.amazon.com/blogs/aws/amazon-redshift-spectrum-exabyte-scale-in-place-queries-of-s3-data/)
- [service linked IAM roles](https://aws.amazon.com/blogs/security/introducing-an-easier-way-to-delegate-permissions-to-aws-services-service-linked-roles/)

{% endfilter %}
{% endblock body %}
