episode: 34
title: white label lambda service
subtitle: twilio functions, github marketplace, kotlin lambda
date: 06-24-2017 4:05pm
duration: 41:00
length: 29899153

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- aws db migration service
    - [26,000 DBs migration](https://aws.amazon.com/blogs/aws/aws-database-migration-service-20000-migrations-and-counting/)
- [twilio functions](https://www.twilio.com/functions)
    - [build your own IVR with lambda/twilio](https://www.twilio.com/blog/2015/09/build-your-own-ivr-with-aws-lambda-amazon-api-gateway-and-twilio.html)
- [github marketplace](https://github.com/marketplace)
- [aws saas marketplace](https://aws.amazon.com/marketplace/saas)
- [this week in AWS newsletter](http://www.thisweekinaws.com/)
- [kotlin API gateway/lambda PoC](https://github.com/floodfx/aws-lambda-kotlin-poc)

{% endfilter %}
{% endblock body %}
