episode: 42
title: kotlinconf 2017
subtitle: kotlin conf, some of our highlights, software 2.0 / deep learning is eating softwware
date: 12-19-2017 11:10am
duration: 39:27
length: 22755380

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [kotlinconf](https://www.kotlinconf.com/)
- [kotlin react](https://www.youtube.com/watch?v=FDOECr-sT6U&index=4&list=PLQ176FUIyIUY6UK1cgVsbdPYA3X5WLam5)
- [intro keynote, kotlin everywhere](https://www.youtube.com/watch?v=pjnHDXkeK-4&index=2&list=PLQ176FUIyIUY6UK1cgVsbdPYA3X5WLam5)
- [view state machine for network calls](https://www.youtube.com/watch?v=Vre-Ih5Gdc0&index=7&list=PLQ176FUIyIUY6UK1cgVsbdPYA3X5WLam5)
    - [Amanda Hill's original blog post](https://robots.thoughtbot.com/android-networking-view-state)
- [lessons learned building a build tool](https://www.youtube.com/watch?v=BoGJL2ZPK0o&index=13&list=PLQ176FUIyIUY6UK1cgVsbdPYA3X5WLam5)
    - [kobalt](http://beust.com/kobalt/home/index.html)
- [erik meijer keynote](https://www.youtube.com/watch?v=NKeHrApPWlo&index=25&list=PLQ176FUIyIUY6UK1cgVsbdPYA3X5WLam5)
    - [software 2.0](https://medium.com/@karpathy/software-2-0-a64152b37c35)
    - [deep learning is eating software](https://petewarden.com/2017/11/13/deep-learning-is-eating-software/)
        - [DeepMind reduces google data center cooling by 40%](https://deepmind.com/blog/deepmind-ai-reduces-google-data-centre-cooling-bill-40/)
- [kotlin code generation](https://www.youtube.com/watch?v=_obNBSldffw&index=35&list=PLQ176FUIyIUY6UK1cgVsbdPYA3X5WLam5)
    -[kotlinpoet](https://github.com/square/kotlinpoet)

{% endfilter %}
{% endblock body %}
