episode: 40
title: i just think of things in terms of functions now, man
subtitle: pre-invent launches
date: 11-27-2017 2:00pm
duration: 29:59
length: 21972364

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- getting ready for re:invent
- [update state machines for step functions](https://aws.amazon.com/about-aws/whats-new/2017/11/aws-step-functions-adds-support-for-updating-state-machines/)
- [load balancer migration tool](https://aws.amazon.com/about-aws/whats-new/2017/11/new-one-step-migration-wizard-to-migrate-a-classic-load-balancer/)
- [s3 encryption/security features](https://aws.amazon.com/blogs/aws/new-amazon-s3-encryption-security-features/)
- [aws privatelink](https://aws.amazon.com/about-aws/whats-new/2017/11/introducing-aws-privatelink-for-aws-services/)
- [price list API updates](https://aws.amazon.com/blogs/aws/aws-price-list-api-update-new-query-and-metadata-functions/)
- [new c5 instances](https://aws.amazon.com/about-aws/whats-new/2017/11/introducing-amazon-ec2-c5-instances-the-next-generation-of-compute-optimized-instances/)
    - [new aws hypervisor](https://www-theregister-co-uk.cdn.ampproject.org/c/www.theregister.co.uk/AMP/2017/11/07/aws_writes_new_kvm_based_hypervisor_to_make_its_cloud_go_faster/)

{% endfilter %}
{% endblock body %}
