episode: 6
title: it's nice to get out of our aws bubble a little bit
subtitle: google expansion, google, microsoft competing against AWS w/ Machine Learning
date: 03-31-2016 9:37pm
duration: 39:21
length: 28737517

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- We come to our senses, bite the bullet, and move to 1-based episode counting (you did not miss an episode)
- [Google's Greene Hastens Cloud Expansion in Race With Amazon](http://www.bloomberg.com/news/articles/2016-03-22/google-s-greene-hastens-cloud-expansion-in-race-with-amazon)
  - [Google gets apple as a cloud customer](http://www.businessinsider.com/google-nabs-apple-as-a-cloud-customer-2016-3)
  - [Urs Hölzle, Google's 8th employee and tech guru, thinks the cloud could make more money than ads](http://www.businessinsider.com/urs-holze-talks-google-cloud-beat-search-2015-11)
- Google competing against AWS based on Machine Learning / Deep Learning Chops
  - [Google launched new machine learning platform](http://techcrunch.com/2016/03/23/google-launches-new-machine-learning-platform/)
  - [Google Cloud Vision API](https://cloud.google.com/vision/)
  - [Google Cloud Speech API](https://cloud.google.com/speech/)
  - [Microsoft Cognitive Services](https://www.microsoft.com/cognitive-services/)
- [Google Stackdriver](https://cloudplatform.googleblog.com/2016/03/Google-Stackdriver-integrated-monitoring-and-logging-for-hybrid-cloud.html)
- [The Cloudcast](http://www.thecloudcast.net/)


{% endfilter %}
{% endblock body %}