episode: 27
title: I was sleeping through the leap second
subtitle: alexa, lambda security / attacks, leap second
date: 01-14-2017 11:51am
duration: 38:40
length: 28218176

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- Welcome back / goals for 2017
- Alexa corner
    - [9 times as many echos sold this holiday](https://techcrunch.com/2016/12/27/amazon-echo-3/)
    - [7k alexa skills, 7X increase in 7 months](http://www.geekwire.com/2017/amazons-alexa-now-tops-7000-skills-a-7x-increase-in-7-months/)
    - [Alexa @ CES](http://www.zdnet.com/article/at-ces-2017-amazon-revs-alexa-everywhere-strategy/)
    - Alexa v. Google Home
        - [Alexa: Amazon's Operating System (stratechery)](https://stratechery.com/2017/amazons-operating-system/)
        - [exponent podcast episode 099](http://exponent.fm/episode-099-fate-has-a-sense-of-irony/)
- [Gone in 60 milliseconds](https://media.ccc.de/v/33c3-7865-gone_in_60_milliseconds)
    - [zappa](https://github.com/Miserlou/Zappa)
    - [Mackenzie: AWS Lambda Infection Toolkit](https://github.com/Miserlou/Mackenzie)
- [Leap Second outage at CloudFlare](https://blog.cloudflare.com/how-and-why-the-leap-second-affected-cloudflare-dns/)
    - [Falsehoods programmers believe about time](http://infiniteundo.com/post/25326999628/falsehoods-programmers-believe-about-time)
    - [golang #12914](https://github.com/golang/go/issues/12914)
    - [Google leap second smearing](https://cloudplatform.googleblog.com/2015/05/Got-a-second-A-leap-second-that-is-Be-ready-for-June-30th.html)
- [AWS pricing API / updates](https://aws.amazon.com/blogs/aws/new-daily-aggregated-price-list-notifications/)
- React corner / react native



{% endfilter %}
{% endblock body %}
