episode: 2
title: it's always something
subtitle: lambda follow-up, config rules repository
date: 03-05-2016 4:57pm
duration: 25:57
length: 37796419

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- Will it Lambda?!?!?!
  - lambda chat follow-up / long polling
  - cool lambda use case: [Rate based backlisting](http://blogs.aws.amazon.com/security/post/Tx1ZTM4DT0HRH0K/How-to-Configure-Rate-Based-Blacklisting-with-AWS-WAF-and-AWS-Lambda)
)
  - Send us your crazy lambda projects: lambda@engineers.coffee
- [AWS Config Rules Repository](http://blogs.aws.amazon.com/security/post/TxES3UX2Z5BQRU/Announcing-the-AWS-Config-Rules-Repository-A-New-Community-Based-Source-of-Custo)
  - [github services repository](https://github.com/github/github-services)
- new recurring segment idea


{% endfilter %}
{% endblock body %}