episode: 37
title: they're not gonna pay sticker price
subtitle: cross account events, new aws features, big companies on aws
date: 10-12-2017 12:27pm
duration: 27:19
length: 20043654

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [cross account cloudwatch events](https://aws.amazon.com/blogs/aws/new-cross-account-delivery-of-cloudwatch-events/)
- [Prepare for the OWASP Top 10 Web Vulnerabilities w/ AWS WAF](https://aws.amazon.com/blogs/aws/prepare-for-the-owasp-top-10-web-application-vulnerabilities-using-aws-waf-and-our-new-white-paper/)
- [archive items to s3 from dynamo using TTL](https://aws.amazon.com/blogs/database/automatically-archive-items-to-s3-using-dynamodb-time-to-live-with-aws-lambda-and-amazon-kinesis-firehose/)
- [cloudwatch dashboards api/cloudformation support](https://aws.amazon.com/blogs/aws/new-api-cloudformation-support-for-amazon-cloudwatch-dashboards/)
- new info to IAM console to follow best practices around inactive users
- is it possible to host facebook on AWS
- dropbox / aws

{% endfilter %}
{% endblock body %}
