episode: 45
title: obvious but smart insight
subtitle: appsync, graphql, alexa, homepod, usernames
date: 03-28-2018 12:05pm
duration: 48:06
length: 23534110

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [aws appsync](https://aws.amazon.com/appsync/)
- dynamo updates
    - [t2 dax instances](https://aws.amazon.com/about-aws/whats-new/2018/02/amazon-dynamodb-accelerator-dax-releases-sdks-for-python-and-dot-net-support-for-t2-instances-and-now-available-in-the-asia-pacific-singapore-and-asia-pacific-sydney-regions/)
    - [encryption at rest](https://aws.amazon.com/about-aws/whats-new/2018/02/amazon-dynamodb-now-supports-server-side-encryption-at-rest/)
- [alexa console updates](https://techcrunch.com/2018/02/15/amazons-alexa-skills-developer-console-gets-its-biggest-redesign-since-launch/)
- [let's talk about usernames](https://www.b-list.org/weblog/2018/feb/11/usernames/)

{% endfilter %}
{% endblock body %}
