episode: 4
title: if enough people ask for it
subtitle: interview w/ Peter Sankauskas, Yeobot, Dropbox leaving AWS
date: 03-21-2016 11:47am
duration: 56:59
length: 41419974

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [Peter Sankauskas](https://twitter.com/pas256)
- [Advanced AWS Meetup / SF](http://www.meetup.com/AdvancedAWS/)
  - [Immutable Deployments with AWS CloudFormation by Fabrizio Branca](http://www.slideshare.net/aoepeople/immutable-deployments-with-aws-cloudformation-and-aws-lambda)
    - [Stackformation](https://github.com/AOEpeople/StackFormation)
- [Stack Overflow 2016 Developer Survey](https://stackoverflow.com/research/developer-survey-2016)
- [ChatOps at Github](https://www.youtube.com/watch?v=NST3u-GjjFw)
  - [Hubot](https://hubot.github.com/)
- [CloudNative](http://cloudnative.io/)
  - [Yeobot](https://cloudnative.io/yeobot/)
  - [kappa](https://github.com/garnaat/kappa)
  - [cruddy](https://github.com/cloudnative/cruddy)
- [Botkit](http://howdy.ai/botkit/)
- Dropbox leaving AWS
  - [The Epic Story of Dropbox's Exodus from the Amazon Cloud Empire](http://www.wired.com/2016/03/epic-story-dropboxs-exodus-amazon-cloud-empire)
  - [Scaling to exabytes and beyond](https://blogs.dropbox.com/tech/2016/03/magic-pocket-infrastructure/)


{% endfilter %}
{% endblock body %}