episode: 44
title: building MakerSession.com
subtitle: Donnie talks about his new project and its architecture (lambda, apig, etc.), new AWS releases, our love of typescript
date: 02-26-2018 10:15am
duration: 45:54
length: 22482013

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [MakerSession.com](https://MakerSession.com)
- [AWS Autoscaling](https://aws.amazon.com/autoscaling/)
- [Cloudformation + SSM](https://aws.amazon.com/blogs/mt/integrating-aws-cloudformation-with-aws-systems-manager-parameter-store/)
- [Typescript](https://www.typescriptlang.org/)

{% endfilter %}
{% endblock body %}
