episode: 0
title: i feel like cloud has jumped the shark already
subtitle: Intro and our thoughts to starting an AWS podcast, the parse shutdown, will it lambda?
date: 02-21-2016 11:25pm
duration: 40:49
length: 59228735

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [Startup Podcast](https://gimletmedia.com/show/startup/), [Reply All](https://gimletmedia.com/show/reply-all/)
- Coffee &amp; Engineers intro, topics, format, etc.
- [Parse shutdown](http://blog.parse.com/announcements/moving-on/)
  - [Resources for Migrating Parse applications to AWS](https://aws.amazon.com/blogs/aws/resources-for-migrating-parse-applications-to-aws/)
- Will it Lambda?!?!?!
  - Send us your crazy lambda projects: lambda@engineers.coffee

{% endfilter %}
{% endblock body %}