episode: 9
title: podcast retrospective
subtitle: we talk about where we're at with the podcast: what went well, what didn't go well, what to change, shoutouts
date: 04-18-2016 10:08am
duration: 37:50
length: 27651266

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

We'd love for you to join in the retrospective, and provide any feedback you have on the show.

We've put together an anonymous [survey to provide feedback](http://goo.gl/forms/ohHKF80NYi).

Thanks for listening!

Our retrospective notes:


- What went well
    - Consistent recording and publishing
    - Content has improved
    - Interview w/Peter
    - Downloads in last 30 days - 3700
    - Learned a lot about podcasting
    - Forced to keep up on the news a bit more detailed
- What didn’t go well
    - Interaction has dropped off 
    - Donnie’s “tick” - “totally”
    - We didn’t build anything...
    - We didn't Interview enough
- What to change?
    - Try to bring conversation to us / community
        - Come up with a plan
            - Chat room, live episode, twitter, e.g.
            - Collect emails on twitter?
    - Get better at interviewing
        - Have more interviews
        - research/read how to give good interviews
    - Build something
        - Follow up on chat/lambda, alexa
        - Take what we’re building and make it into episode content
    - Market ourselves
        - Reach out to more podcasters? Tweet at folks? Get more distribution
        - Push the episodes to more podcasting apps -  Look into distribuiton on Android
        - Ask folks to review us on itunes
- Shoutouts?
    - [Peter Sankauskas](https://twitter.com/pas256)
    - [Cloudcast guys](http://www.thecloudcast.net/)
    - Marc, Josh, Ryanne
    - Johnna and Melissa!


{% endfilter %}
{% endblock body %}