{% extends "blog2.html" %}
{% block content %}

{% for post in posts|slice:":5" %}

<div class="blog-post">
	<a class="blog-post-title-link" href='/{{ post.short_path }}'>
	  <h2 class="blog-post-title">{{ post.episode }} : {{ post.title }}</h2>
	</a>
	<p class="subtitle">{{ post.subtitle }}</p>
	<p class="blog-post-meta">{{ post.date|date:"M j, Y" }}</p>

	<p class="blog-post-audio">
	  <audio controls preload="none">
	  	<source src="/static/episodes/{{ post.date|date:"Y" }}/engineers.coffee.{{ post.date|date:"Y" }}.{{ post.episode }}.mp3" />
	  </audio>
	</p>

	<div class="blog-post-notes">
	  <p class="show-notes">{{ post.body }}</p>
	</div>
	<p class="download-link">
	  <a href="/static/episodes/{{ post.date|date:"Y" }}/engineers.coffee.{{ post.date|date:"Y" }}.{{ post.episode }}.mp3">download episode mp3</a>
	</p>
	<hr>
</div>
{% endfor %}
<div style="padding-bottom:48px;">
<a href="/archive/">View older episodes</a>
</div>
{% endblock content %}
