{% extends "blog2.html" %}

{% block title %}{{ title }} | Sandwich News {% endblock title %}

{% block content %}

<section id="wrapper" class="group">
	<header id="header">

	</header>

	<article class="post">
		<header>
			<h2>{{ episode }} : {{ title }}</h2>
			<p class="subtitle">{{ subtitle }}</p>
			<p class="blog-post-meta"> {{ date|date:"M j, Y" }} </p>
		</header>
			<p class="blog-post-audio">
	  <audio controls>
	  	<source src="/static/episodes/{{ date|date:"Y" }}/engineers.coffee.{{ date|date:"Y" }}.{{ episode }}.mp3" />
	  </audio>
	</p>
		<section id="post-body">
			{% block body %}
				This is where the post contents is.
			{% endblock body %}
		</section>
			<p class="download-link">
	  <a href="/static/episodes/{{ date|date:"Y" }}/engineers.coffee.{{ date|date:"Y" }}.{{ episode }}.mp3">download episode mp3</a>
	</p>
			<p class="post-tags">
				{% for tag in tags %}
				 <a href="#" class="btn btn-primary btn-xs">{{ tag }}</a>
				{% endfor %}
		    </p>

        <hr />
	</article>

	<footer>

	<nav id="post-nav">
		<span class="prev">
			{% if prevPost %}
				<a href='/{{ prevPost.path }}'>
					<span class="arrow">&larr;</span> {{ prevPost.title }}
				</a>
			{% endif %}
		</span>

		{% if nextPost and prevPost %}
		  |
		{% endif %}

		<span class="next">
			{% if nextPost %}
				<a href='/{{ nextPost.path }}'>
					{{ nextPost.title }} <span class="arrow">&rarr;</span>
				</a>
			{% endif %}
		</span>
	</nav>
	</footer>
</section>

{% endblock content %}
