episode: 3
title: more datacenters than engineers
subtitle: celebrating the 10 year anniversary of AWS, we reminisce on the early days
date: 03-15-2016 12:42am
duration: 46:15
length: 33713187

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

<img src="http://engineers.coffee/static/images/episodes/2016/3/aws-10year-cake.jpg" />



- [10 Years of AWS](https://aws.amazon.com/10year/)
  - [Ten Years in the AWS Cloud](https://aws.amazon.com/blogs/aws/ten-years-in-the-aws-cloud-how-time-flies/) by Jeff Barr
  - [A Decade of Innovation](http://perspectives.mvdirona.com/2016/03/a-decade-of-innovation/) by James Hamilton
  - [10 Lessons from 10 Years of Amazon Web Services](http://www.allthingsdistributed.com/2016/03/10-lessons-from-10-years-of-aws.html) by Werner Vogels
- [the story of hod](http://sandwichnews.org/posts/2011/10/10/the-story-of-hod.html) ancient blog post talking about our old internal EMR-like workflow service






{% endfilter %}
{% endblock body %}