episode: 26
title: relearn how to walk
subtitle: echo, home automation, lex preview / ToS, lambda edge, step functions
date: 01-01-2017 9:15pm
duration: 49:39
length: 36128956

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [alexa christmas tree](https://youtu.be/vr__nOZ4mQ4)
  - [WeMo Switch](http://www.belkin.com/us/F7C027/p/P-F7C027/)
  - [Python API to WeMo devices](https://github.com/iancmcc/ouimeaux)
  - [WeMo SDK retired](http://developers.belkin.com/wemo/sdk)
  - [raspberry pi IoT SDK](https://github.com/aws/aws-iot-device-sdk-python)
- [alexa at wynn hotels in vegas](http://www.prnewswire.com/news-releases/wynn-las-vegas-announces-the-addition-of-amazon-echo-to-all-hotel-rooms-300377995.html)
- [Lambda Edge](https://aws.amazon.com/blogs/aws/coming-soon-lambda-at-the-edge/)
  - [amazon header bidding](http://adage.com/article/digital/amazon-moves-poach-publishers-header-bidding/306985/)
  - [google pagespeed](https://developers.google.com/speed/pagespeed/)
- more on stepfunctions
    - [error handling](https://docs.aws.amazon.com/step-functions/latest/dg/concepts-error-handling.html)
    - [aws serverless java container](https://github.com/awslabs/aws-serverless-java-container)
- donnie misses java
  - [react native](https://facebook.github.io/react-native/)
     - [exponent](https://getexponent.com/)
- [How Much Does It Cost To Run A Serverless API on AWS?](https://alestic.com/2016/12/aws-invoice-example/) by Eric Hammond
- experimenting with a job board around the podcast
   - if you are hiring, get in touch!
- get in touch if you want some engineers &amp; coffee stickers!


{% endfilter %}
{% endblock body %}
