episode: 28
title: I have a rant
subtitle: fabric, firebase, open source licensing, the banana stand
date: 03-27-2017 10:25pm
duration: 45:09
length: 32892142

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- [google acquires fabric from twitter](https://www.recode.net/2017/1/18/14313164/google-twitter-acquisition-fabric-crashlytics)
    - [https://fabric.io/blog/fabric-joins-google](https://fabric.io/blog/fabric-joins-google)
- [firebase](https://firebase.google.com/)
- I have a rant
    - Donnie talks about MS Azure oauth client
- [State of Open Source Licensing](http://redmonk.com/sogrady/2017/01/13/the-state-of-open-source-licensing/) (redmonk)
- [josh's scala react framework](https://github.com/jcarver989/granite)
- [amazon banana stand](https://www.amazon.com/p/feature/wyvt8ynjyjgb6z2)
    - [amazon temporary building donation](http://www.huffingtonpost.com/entry/amazons-donating-a-building-to-temporarily-house-homeless-in-seattle_us_57111e8be4b0018f9cb9ea8e)

{% endfilter %}
{% endblock body %}
