episode: 46
title: i'm requesting a certificate right now
subtitle: updates from AWS Summit SF 2018
date: 04-13-2018 9:55am
duration: 39:42
length: 19502143

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

- [AWS Summit SF keynote](https://www.youtube.com/watch?v=LOs0SgRx6jg)
- [Translate GA](https://aws.amazon.com/blogs/aws/amazon-translate-now-generally-available/)
- [Transcribe GA](https://aws.amazon.com/blogs/aws/amazon-transcribe-now-generally-available/)
- [One Zone IA and S3 Select GA](https://aws.amazon.com/blogs/aws/amazon-s3-update-new-storage-class-general-availability-of-s3-select/)
    - [S3 Select / Glacier Select](https://aws.amazon.com/blogs/aws/s3-glacier-select/)
- [Secrets Manager](https://aws.amazon.com/blogs/aws/aws-secrets-manager-store-distribute-and-rotate-credentials-securely/)
- [SAM implementation now open source](https://github.com/awslabs/serverless-application-model)
- [ACM Private Cert Authority](https://aws.amazon.com/blogs/aws/aws-certificate-manager-launches-private-certificate-authority/)
- [Firewall Manager](https://aws.amazon.com/blogs/aws/aws-firewall-manager-central-management-for-your-web-application-portfolio/)

{% endfilter %}
{% endblock body %}
