episode: 39
title: if anything has classic in the name, it's probably not good
subtitle: looking forward to re:invent
date: 11-12-2017 2:27pm
duration: 53:11
length: 38668778

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

- new amazon echo devices
- apple event
- looking forward to re:invent
    - [lambda traffic segmentation](https://www.infoq.com/news/2017/10/Lambda-Traffic-Shifting)
    - [gluon](https://aws.amazon.com/blogs/aws/introducing-gluon-a-new-library-for-machine-learning-from-aws-and-microsoft/)
- [per second billing](https://aws.amazon.com/blogs/aws/new-per-second-billing-for-ec2-instances-and-ebs-volumes/)
- [network load balancer](https://aws.amazon.com/blogs/aws/new-network-load-balancer-effortless-scaling-to-millions-of-requests-per-second/)
- will there be easier docker options in aws?

{% endfilter %}
{% endblock body %}
